.todo_item {
  display: flex;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s;
  user-select: none;
}

.todo_item:hover {
  background: #e3fafc;
}

.todo_item:hover .remove {
  opacity: 1;
}

.todo_item + .todo_item {
  border-top: 1px solid #e2e2e2;
}

.remove {
  margin-right: 1rem;
  color: #e64980;
  font-weight: 600;
  opacity: 0;
}

.todo_content {
  flex: 1;
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  color: #adb5bd;
}

.check-mark {
  font-size: 1.5rem;
  line-height: 1rem;
  margin-left: 1rem;
  color: #3bc9db;
  font-weight: 800;
}

.edit {
  padding-right: 10px;
  cursor: pointer;
  display: flex;
}

.edit:hover {
  transform: translate(1px, 1px);
}

.change_todo input {
  flex: 1;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #61b2e9;
}
.date {
  margin-right: 4rem;
  color: #e1e1e1;
}
